.header
  .logo
    = link_to image_tag("logo1.png", class: "logo1"), "/"
.main3
  .main3_title
    Action
    .main3_box
      .main3_info
        %ul.plan-info
          %li.plan-date
            = @plan.date
          %li.plan-title
            = @plan.title
          %li.plan-restriction
            罰金金額：
            = @plan.restriction
            円
          %li.plan-limit
            制限時間：
            = Limit.find(@plan.limit_id).name
          %li.plan-nickname
            = current_user.name
-# .item-show
-#   .comment-box
-#     %form
-#       %textarea.comment-text
-#       %p.comment-warn
-#         応援メッセージを送ろう！
-#         %br/
-#         アドバイスをして目標達成に貢献しよう！
-#       %button.comment-btn{:type => "submit"}
-#         = image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"
-#         %span
-#           コメントする
-#           %span

-# .item-show
-#   .comment-box
-#     = form_with model: @message do |f|
-#       = f.text_field :text, class: "comment-text"
-#       %p.comment-warn
-#         応援メッセージを送ろう！
-#         %br/
-#         アドバイスをして目標達成に貢献しよう!
-#       = f.submit "コメントする", class: "comment-btn"
-#         = image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"
-#         %span
-#           コメントする
-#           %span


-# .item-show
-#   = form_with model: @message do |f|
-#     = f.text_field :text
-#     = f.submit '送信'
-#   %div{:id => "messages"}
-#     - @messages.reverse_each do |message|
-#       %p= message.text